@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*
	Bootstrap Overide

*/

/*  

	General. 

*/

html {
	background-color: #F8FBF8;
	margin:0;
	height: 100%;
}
body {
	font-family: 'Roboto', Arial, sans-serif;
	color: #212121;
}
.main {
	background-color: #F8FBF8;
}
.container, 
.container-fluid {
	background-color: #F8FBF8;
}

a {
	color:#0C7CC0; 
}
/*

    Header 

*/

header.main {
	background-color: #FFF;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,0.06);
	        box-shadow: 0 2px 9px 0 rgba(0,0,0,0.06);
}
.brand img {
	padding: 15px 50px 25px 50px;
}



/*


	Utilitarios 


*/

.txt-grey {
	color: #999999;
}
a.txt-grey {
	color: #999999;
}
.bb {
	border-bottom: 1px solid #EEEEEE;
}

.bt {
	border-top: 1px solid #EEEEEE;
}

/*

    LOGIN

*/

body.login {
	background-image: url(../images/fondo-login.jpg);
	background-size: cover;
	margin:0;
	height: 100%;
}

body.login .container, 
body.login .container-fluid {
	background-color: transparent;
}

.logo-login img {
		padding-top: 60px;
		padding-bottom: 40px;
}




/*

	FORMS

*/

label {
	color: #666666;
	font-size: .9em;
}

.form-control::-webkit-input-placeholder { color: #999; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #999; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #999; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #999; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #999; }  /* Microsoft Edge */

.form-control:disabled,
input[disabled]
 {
	border: none;
	background-color: #FFF;
	font-weight: bold;
	color:#686868;
}

/*

	BUTTONS 

*/

.btn {
	text-transform: uppercase;
	border-radius: 2px;
	padding: 15px;
	font-size: .95em;
}
.btn-primary {
	background: #3498DB;
	border-color: #3498DB;
}

.btn-secondary {
	color: #666666;
}





/*

    TABLES 


*/

.table {
	font-size: .8em;
} 


/*

	CARDS

*/
.card {
	border-color:#FFF176;
	background-color: rgba(255,255,255,.6);
}
.card-header {
	background-color: #FFF176;
}
.card-subheader {
	background-color: #F6F6F6;
	padding: 15px;
	color: #A0A0A0;
}

.card-menu {
	background: rgba(255,255,255,0.67);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
	border-radius: 2px;
	border: 1px solid #FFF176;
	min-height: 250px;
	color: #B8B8B8;
}

.card-menu.disabled {
	opacity: .5;
	border-color: #FDF7BC;
}

.card-menu a.disabled  {
	color: #B8B8B8;
}

/*


	LIST GROUPS



*/

.slim .list-group-item {
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-color: #EEEEEE;
	font-size: .85em;
	padding: 0.45rem 1.25rem;
}


/*

    CALENDARIO 

*/

.calendario .card {
	border-radius: 0;
	border-color:#EEE;
	min-height: 150px;
}
.calendario-opciones {
	background-color: #F6F6F6;
}
.calendario-opciones .col {
}

.calendario .card-header {
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: .9em;
	padding: 9px 15px;
}
.calendario .card-block {
	padding: 0px 5px 5px 5px;
	font-size: .65em;
}

.calendario .dia-libre {
	background-color: #FAFAFA;
}
.calendario .dia-libre .card-header {
	color:#C9C9C9;
}
.calendario .dia.actual {
	display: inline-block;
	height: 27px;
	width: 27px;
	border-radius: 27px;
	background-color: #3498DB;
	color: #FFF;
	text-align: center;
	line-height: 25px;
}
.calendario .item a {
	display: block;
	background: #D5EB98;
	border: 1px solid #74A375;
	border-radius: 6px;
	padding: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #212121;
}
.calendario .item {
	margin-bottom: 5px;
}